/* fonts - шрифты */
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Robotobold'), local('Roboto-Bold'),
    url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/robotobold.woff') format('woff'); /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Robotomedium'), local('Roboto-Medium'),
    url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/robotomedium.woff') format('woff'); /* Modern Browsers */
}
/* Variables-переменные-цвета */
:root {
  --basic-black: #000000;
  --basic-black-A: #283136;
  --basic-Revell-32164: #EEEEEE;
  --basic-White: #FFFFFF;
  --basic-Fiery-Coral: #FB565A;
  --basic-Coral-B: #E74246;
  --basic-Coral-C: #D7373B;
  --basic-RAL-240-20-05: #283136;
  --basic-Ford-Black-White-Brown: #888888;
  --basic-green: #00CA74;
  --basic-green-B: #00BC6C;
  --basic-green-C: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-B: #EAB534;
  --basic-yellow-C: #E5A722;
  --basic-Ford-Midnight-Gray: #444444;
  --basic-Mothe-Gray: #4D4D4D;
  --basic-Krylon-Classic-Gray: #666666;
  --basic-light-gray: #A6A6A6;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-RAL-240-20-05);
  background-color: #FFFFFF;
}

 a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-Revell-32164);
}
/* Main navigation */
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}

.navigation-list {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.user-navigation {
  list-style: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: right;
}

.navigation-list a,
.user-navigation a {
  color: var(--basic-black);
}

.navigation-list a:hover,
.user-navigation a:hover {
  color: var(--basic-Fiery-Coral);
}

.navigation-list a:active,
.user-navigation a:active {
color: var(--basic-black);
opacity: 0.3;
}

.navigation-list a:focus,
.user-navigation a:focus
 {
  color: var(--basic-black);
}

/* Features */
.hero {
  color: var(--basic-black);
  text-align: left;
  background-color: var(--basic-Revell-32164);
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-White);
  border: none;
}

.button-red {
  background-color: var(--basic-Fiery-Coral);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
  }

.main-content {
  background-color: var(--basic-White);
}

.services-item {
  text-align: left;
  color: var(--basic-RAL-240-20-05);
}

.services-item-title {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.description-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-RAL-240-20-05);
}

.description-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black-A);
}

.description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--basic-black);
}

.description-subtitle-two {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.numbers {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.value-numbers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-RAL-240-20-05);
}
.footer-phone {
  color: var(--basic-Krylon-Classic-Gray);
}

.footer-contacts {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--basic-Krylon-Classic-Gray);
}

.logo-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.footer-friendship {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: var(--basic-Ford-Midnight-Gray);
}

.footer-friendship h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-black);
}
.footer-friendship-sub {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-Ford-Midnight-Gray);
}
.main-footer {
  background-color: var(--basic-White);
}

.footer-contacts-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-Krylon-Classic-Gray);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.social-button {
  color: inherit;
}

.button-red:hover {
  color: var(--basic-White);
  background-color: var(--basic-Coral-B);
}
.button-red:focus,
.button-red:active {
  color: var(--basic-Coral-B);
  background-color: var(--basic-Coral-C);
}

.button-green:hover {
  color: var(--basic-White);
  background-color: var(--basic-green-B);
}
.button-green:focus,
.button-green:active {
  color: var(--basic-green-B);
  background-color: var(--basic-green-C);
}

.button-yellow:hover {
  color: var(--basic-White);
  background-color: var(--basic-yellow-B);
}
.button-yellow:focus,
.button-yellow:active {
  color: var(--basic-yellow-B);
  background-color: var(--basic-yellow-C);
}

/* Modal */
.modal {
  background-color: var(--basic-White);
}
