/* fonts - шрифты */
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/roboto.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Robotobold'), local('Roboto-Bold'),
  url('../fonts/robotobold.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotobold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Robotomedium'), local('Roboto-Medium'),
  url('../fonts/robotomedium.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotomedium.woff') format('woff'); /* Modern Browsers */
}

/* Variables-переменные-цвета */

:root {
  --basic-black: #000000;
  --basic-black-A: #283136;
  --basic-Revell-32164: #EEEEEE;
  --basic-Revell-B: #DFDFDF;
  --basic-Revell-C: #D5D5D5;
  --basic-White: #FFFFFF;
  --basic-Fiery-Coral: #FB565A;
  --basic-Coral-B: #E74246;
  --basic-Coral-C: #D7373B;
  --basic-Ford-Black-White-Brown: #888888;
  --basic-green: #00CA74;
  --basic-green-B: #00BC6C;
  --basic-green-C: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-B: #EAB534;
  --basic-yellow-C: #E5A722;
  --basic-Ford-Midnight-Gray: #444444;
  --basic-Mothe-Gray: #4D4D4D;
  --basic-Krylon-Classic-Gray: #666666;
  --basic-light-gray: #A6A6A6;
  --basic-Shape-2: #E1E1E1;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: var(--basic-black-A);
  background-color: var(--basic-White);
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */
/*
.page {
  height: 100%;
}

.page-body {
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.main-header {
  background-color: var(--basic-Revell-32164);
}

.inner-page {
  background-color: var(--basic-White);
}
*/
/* Main navigation */
/*
.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr 75px;
  grid-template-rows: 65px 65px;
  margin-top: 20px;
  margin-left: 140px;
  margin-right: 140px;
  width: 1157px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
}


.main-navigation-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.navigation-list {
  width: 437px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 45px;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.user-navigation {
  margin-top: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: right;
}

.navigation-list a,
.user-navigation a {
  color: var(--basic-black);
}

.navigation-list a:hover,
.user-navigation a:hover {
  color: var(--basic-Fiery-Coral);
}

.navigation-list a:active,
.user-navigation a:active {
  color: var(--basic-Shape-2);
  border-bottom: 2px solid var(--basic-Fiery-Coral);
 }

.navigation-list a:focus,
.user-navigation a:focus {
  color: var(--basic-Shape-2);
}

.basket::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 824px;
  width: 15px;
  height: 11px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* hero */
/*
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 140px;
  color: var(--basic-black);
  text-align: left;
  background-color: var(--basic-Revell-32164);
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: left;
  margin-top: 0;
}

.hero-text {
  text-align: left;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.hero-img {
  position: relative;
  top: 5px;
}

.hero-circles {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0;
  top: 317px;
  left: 139px;
  width: 88px;
  height: 18px;
}

.hero-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-White);
}

.hero-circle .ellipse {
  position: absolute;
  top: 102px;
  left: 12px;
  width: 8px;
  height: 8px;
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.main-content {
  background-color: var(--basic-White);
}

ul {
  list-style-type: none;
}

.services {
  display: grid;
  margin-top: 80px;
  margin-left: 140px;
  margin-right: 200px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.services-item p {
  text-align: left;
}

.services-item {
  text-align: left;
  color: var(--basic-RAL-240-20-05);
  margin-left: -40px;
  margin-right: auto;
}

.services-item-title {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}
*/
/*
.description-text {
  display: grid;
  margin-top: 39px;
  margin-left: 140px;
  margin-right: 140px;
  grid-template-columns: 1.5fr 1fr;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-RAL-240-20-05);
}

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: var(--basic-black);
}

.description-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black-A);
}

.description-subtitle-two {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
  text-transform: uppercase;
}

.numbers {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.value-numbers {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--basic-RAL-240-20-05);
}
*/
/* manufacturers */
/*
.manufacturers-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 46px;
  margin-left: 140px;
  margin-right: 140px;
}

.manufacturers-item::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 294px;
  width: 2px;
  height: 52px;
  background-image: url("../img/Rectangle-13.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturers-item .manufacturers-logo1::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 584px;
  width: 2px;
  height: 52px;
  background-image: url("../img/Rectangle-14.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturers-item .manufacturers-logo2::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 884px;
  width: 2px;
  height: 52px;
  background-image: url("../img/Rectangle-15.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturers-logo1 img:hover {
  background-image: url("../img/Group-51.png");
}

.manufacturers-logo2  img:hover {
  background-image: url("../img/logo-21.png");
}

.manufacturers-logo3  img:hover {
  background-image: url("../img/logo-31.png");
}

.manufacturers-logo4  img:hover {
  background-image: url("../img/logo-41.png");
}

.manufacturers-item a:active {
  opacity: 0.1;
}
*/
/* footer */
/*
.footer-contacts {
  position: relative;
  top: 80px;
  left: auto;
  right: auto;
  width: 1440px;
  height: 416px;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--basic-Krylon-Classic-Gray);
}

.footer-point-wrap {
  position: absolute;
  left: 822px;
  top: 80px;
  width: 231px;
  height: 190px;
}

.footer-contacts-content {
  position: absolute;
  top: 54px;
  left: 140px;
  bottom: 54px;
  width: 319px;
  height: 308px;
  text-align: center;
  border: 10px solid #ffffff;
  background-color: var(--basic-White);
}

.logo-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  color: var(--basic-black);
}

.footer-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 139px;
  margin-top: 68px;
  margin-left: 140px;
  margin-right: 240px;
}

.footer-contacts-content .button {
  margin-top: 30px;
  margin-left: 10px;
  padding: 20px 40px;
}

.footer-phone {
  color: var(--basic-Krylon-Classic-Gray);
  line-height: 50px;
}

.footer-social-wrap {
  text-align: left;
}

.footer-social-list {
  position: relative;
  margin: 68px auto;
  padding: 0;
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--basic-Shape-2);
}

.social-button {
  color: inherit;
}

.footer-friendship {
  margin: 68px auto 74px auto;
  line-height: 5px;
  text-align: left;
  color: var(--basic-Ford-Midnight-Gray);
}

.footer-friendship-title {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  color: var(--basic-black);
}

.footer-friendship-sub {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: var(--basic-Ford-Midnight-Gray);
}

.main-footer {
  background-color: var(--basic-White);
}

.footer-contacts-tittle {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-Krylon-Classic-Gray);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: left;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 9px;
}

/*Buttons*/
/*
.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  line-height: 18px;
  color: var(--basic-White);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-Fiery-Coral);
  border: none;
}
*/


/*

.catalog-item-price .button-red:hover {
  color: var(--basic-White);
  background-color: var(--basic-Coral-B);
}

.catalog-item-price .button-red:focus,
.catalog-item-price .button-red:active {
  color: var(--basic-White);
  background-color: var(--basic-Coral-C);
}

.button-gray:hover {
  color: var(--basic-black);
  background-color: var(--basic-Revell-B);
}

.button-gray:focus,
.button-gray:active {
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-Revell-C);
}

.social-button path:hover {
  fill: var(--basic-White);
}

.social-button path:focus {
  fill: var(--basic-White);
}

.social-button path:active {
  fill: var(--basic-White);
  opacity: 0.3;
}

.footer-social-item a:hover{
  background-color: var(--basic-Coral-B);
}

.footer-social-item a:focus,
.footer-social-item a:active{
  color: var(--basic-Coral-B);
  background-color: var(--basic-Coral-C);
}
*/
/* form */
/*
form {
  width: 260px;
  margin-top: 55px;
  margin-left: 140px;
  background-color: var(--basic-White);
}

/* filters */
/*
.filters {
  margin-left: 100px;
  width: 260px;
  }

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-Revell-32164);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.min-price {
  margin-left: 0;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter ul {
  padding: 0;
  margin: 0 0 0 42px;
  list-style: none;
  line-height: 30px;
}

.filter fieldset {
  padding: 0;
  margin: 0 0 45px 0;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 46px;
}

.filter fieldset:last-child {
  margin-bottom: 50px;
}

.filter legend {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -5px;
  width: 18px;
  height: 18px;
  border: 5px solid var(--basic-Revell-B);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -32px;
  width: 15px;
  height: 15px;
  background-image: url("../img/Oval.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 18px;
  height: 18px;
  border: 3px solid var(--basic-Revell-B);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -38px;
  width: 25px;
  height: 25px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after{
  color: var(--basic-black);
  border-color: var(--basic-black);
  fill: var(--basic-black);

}

.filter-input-radio:focus + label,
.filter-input-radio:active + label {
  border-color: var(--basic-Mothe-Gray);
  color: var(--basic-Mothe-Gray);
  fill: var(--basic-Mothe-Gray);
  opacity: 0.3;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after {
  border-color: var(--basic-black);
}

.filter-input-checkbox:focus + label,
.filter-input-checkbox:active + label {
  color: var(--basic-black);
  opacity: 0.3;
}

.filter-button {
  display: block;
  margin: 0;
  padding: 17px 90px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-Revell-32164);
  border: none;
}

.hero-title-catalog {
  font-family: Roboto, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
*/
/* Catalog */
/*
.catalog {
  margin-left: 280px;
}

.sort {
  display: flex;
  align-items: center;
  width: 760px;
  height: 30px;
  margin-left: 40px;
  padding: 50px 0;
  }

.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}
.sort-list  li {
  position: relative;
  margin-right: 25px;
}

.sort-list  li:last-child {
  margin-right: 0;
}

.sort-item .image-triangle-1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/Shape1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: var(--basic-black);
}

.sort-item .image-triangle-1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/Shape2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: var(--basic-black);
}

.sort-item:hover {
  color: var(--basic-black);
  fill: var(--basic-black);;
  opacity: 0.6;
}

.sort-item:focus,
.sort-item:active {
  color: var(--basic-black);
  opacity: 1;
  fill: var(--basic-black);;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 }

.catalog-item {
  position: relative;
  width: 360px;
  height: 618px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--basic-Revell-32164);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px 5px 0 0;
  }

.catalog-item-card {
  position: absolute;
  top: 388px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px;
  width: 308px;
  height: 179px;
  background-color: var(--basic-Revell-32164);
  display:none;
}

.catalog-item:hover {
  background-color: var(--basic-Mothe-Gray);
}

.catalog-item:hover .catalog-item-card {
  display: block;
}

.catalog-image {
  position: relative;
}

.catalog-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.catalog-item-title:hover {
  color: var(--basic-Fiery-Coral);
}

.catalog-item-title:focus,
.catalog-item-title:active {
  color: var(--basic-black);
  opacity: 0.3;
  }

.catalog-item-card .button {
  display: block;
  margin-left: 80px;
  padding: 17px 50px;
  color: var(--basic-White);
  background-color: var(--basic-Fiery-Coral);
}

.catalog-item-card .button-red:hover {
  color: var(--basic-White);
  background-color: var(--basic-Coral-B);
}

.catalog-item-card .button-red:focus,
.catalog-item-card .button-red:active {
  color: var(--basic-White);
  background-color: var(--basic-Coral-C);
}

.catalog-item-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-Krylon-Classic-Gray);
}

.catalog-circles {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 13px 286px 13px 16px;
  width: 50px;
  height: 14px;
}
.catalog-circle {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-White);
}
*/
/* Pagination */
/*
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 40px;
  list-style: none;
}
.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 19px;
  color: var(--basic-black);
  background-color: var(--basic-Revell-32164);
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--basic-Revell-B);
}

.pagination-item a:focus,
.pagination-item a:active {
  color: var(--basic-black);
  opacity: 0.3;
  background-color: var(--basic-Revell-C);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-White);
  border: 3px solid var(--basic-Revell-C);
  padding: 7px 16px;
  box-sizing: border-box;
}
*/
/* Modal */
/*
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-White);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-letter {
  top: 50px;
  bottom: 194px;
  width: 960px;
  height: 400px;
  padding: 50px 80px;
}

.modal-letter h2 {
  margin-top: -20px;
  margin-left: 80px;
  width: 500px;
  left: 50px;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: block;
  margin-top: 25px;
  margin-left: -40px;
  margin-bottom: 10px;
}

.letter-form {
  width: 761px;
  height: 353px;
  margin-top: -20px;
  margin-left: 80px;
}

.letter-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 720px;
  height: 305px;
  margin: 0;
}

.letter-user-name,
.letter-user-mail  {
  width: 340px;
  height: 34px;
  padding-left: 10px;
  margin-left: -40px;
  border-radius: 3px 3px 3px 3px;
  border: 2px solid var(--basic-light-gray);
}

.letter-user-text {
  width: 744px;
  height: 118px;
  margin-bottom: 10px;
  margin-left: -40px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 3px 3px 3px 3px;
  border: 2px solid var(--basic-light-gray);
  resize: none;
}

.letter-user-name:focus:invalid,
.letter-user-text:focus:invalid {
  color: var(--basic-Coral-C);
  box-shadow: 0 0 5px var(--basic-Coral-C);
  border: 2px solid var(--basic-Coral-C);
}

.letter-form button{
  display: block;
  padding: 15px 70px;
  color: var(--basic-White);
  background-color: var(--basic-Fiery-Coral);
  border-radius: 3px 3px 3px 3px;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 190px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -5px;
  width: 29px;
  height: 3px;
  background-color: rgba(251, 86, 90, 0.3);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: var(--basic-Fiery-Coral);
}

.modal-close:focus::before,
.modal-close:focus::after,
.modal-close:active::before,
.modal-close:active::after {
  background-color: rgba(251, 86, 90, 0.3);
}
*/


/* header #2*/

.header {
  padding-top: 49px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-Revell-32164);
}

.header-container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header-logo img:hover {
  fill: var(--basic-black);
}

.header-logo img:focus {
  fill: var(--basic-black);
}

.header-logo img:active {
  fill: var(--basic-black);
  opacity: 0.3;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.nav-item {
  margin-left: 45px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item a,
.user-nav a {
  color: var(--basic-black);
}

.nav-list a,
.user-nav a {
  color: var(--basic-black);
}

.nav-list a:hover,
.user-nav a:hover {
  color: var(--basic-Fiery-Coral);
}

.nav-list a:active,
.user-nav a:active {
  color: var(--basic-Shape-2);
  border-bottom: 2px solid var(--basic-Fiery-Coral);
}

.nav-list a:focus,
.user-nav a:focus {
  color: var(--basic-Shape-2);
}

.user-nav {
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

 /* container */

.container {
  max-width: 1177px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

 /* section-hero */

.hero{
  background-color: var(--basic-Revell-32164);
}

.hero-content  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.hero-desc p {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black-A);
}

.hero-desc .button {
  padding: 17px 54px 15px 54px;
}

.hero-img {
  position: relative;
  display: flex;
}

.circle-input-radio + label::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-White);
  cursor: pointer;
}

.circle-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.circles-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 317px;
  left: 139px;
  width: 88px;
  height: 18px;
  padding: 0;
}

.circle-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

/* buttons */

.button {
  display: inline-block;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-White);
  border: none;
  border-radius: 3px;
}

.button-red {
  background-color: var(--basic-Fiery-Coral);
}

.button-green {
  background-color: var(--basic-green);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-red:hover {
  color: var(--basic-White);
  background-color: var(--basic-Coral-B);
}

.button-red:focus,
.button-red:active {
  color: var(--basic-Coral-B);
  background-color: var(--basic-Coral-C);
}

.button-green:hover {
  color: var(--basic-White);
  background-color: var(--basic-green-B);
}

.button-green:focus,
.button-green:active {
  color: var(--basic-green-B);
  background-color: var(--basic-green-C);
}

.button-yellow:hover {
  color: var(--basic-White);
  background-color: var(--basic-yellow-B);
}

.button-yellow:focus,
.button-yellow:active {
  color: var(--basic-yellow-B);
  background-color: var(--basic-yellow-C);
}

/* section-services */

.services-wrap {
  position: relative;
  margin: 80px auto;
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 0;
  list-style-type: none;
}

.services-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black-A);
}

.services-item .button {
  padding: 17px 40px 15px 39px;
}

.services-wrap::after {
  content: "";
  position: absolute;
  top: 427px;
  left: 0;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-Revell-32164);
}

/* section-text */

.text-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 121px auto 73px auto;
}

.text-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.text-subtitle {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black-A);
}

.text-desc {
  display: flex;
  flex-direction: column;
}

.text-list {
  list-style-type: none;
}

.text-desc .text-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.text-paragraph {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black-A);
}

ul .text-paragraph {
  position: relative;
}

ul .text-paragraph::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -32px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-Fiery-Coral);
}

.text-table h3 {
  color: var(--basic-black);
}

.row-first .text-list {
  display: flex;
  justify-content: space-between;
  width: 374px;
  padding: 0;
}

.row-last .text-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 374px;
  padding: 0;
}

.number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.result {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black-A);
}

.text-content::after {
  content: "";
  position: absolute;
  top: 500px;
  left: 0;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-Revell-32164);
}

/* section-project */

.project-content {
  position: relative;
  margin: 121px auto 44px auto;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  list-style-type: none;

}

.project-item .project-logo1,
.project-item .project-logo2,
.project-item .project-logo4,
.project-item .project-logo3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list li {
  position: relative;
}

.project-list li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 52px;
  background-color: var(--basic-Revell-32164);
}

.project-list li.first::after {
  display: none;
}

.project-content::after {
  content: "";
  position: absolute;
  top: 134px;
  left: 0;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-Revell-32164);
}

.project-logo1 img:hover {
  background-image: url("../img/Group-51.png");
}

.project-logo2  img:hover {
  background-image: url("../img/logo-21.png");
}

.project-logo3  img:hover {
  background-image: url("../img/logo-31.png");
}

.project-logo4  img:hover {
  background-image: url("../img/logo-41.png");
}

.project-item a:active {
  opacity: 0.1;
}

/* footer */

.footer-content {
  margin-top: 126px;
}

.footer-contacts {
  position: relative;
  width: 100%;
  background-size: 100%;
}

.footer-contacts img {
  position: absolute;
  width: 100%;
  background-size: 100%;
  z-index: -1;
}

.footer-wrap {
  display: flex;
  justify-content: space-around;
  padding-top: 54px;
  width: 65%;

}

.footer-contacts-content {
  display: inline-block;
  padding: 49px 39px 47px 50px;
  background-color: var(--basic-White);
}

.footer-point-wrap {
  display: inline-block;
  padding-top: 32px;
}

.footer-point-wrap img {
  width: 231px;
}

.logo-name {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.footer-phone {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-contacts-tittle,
.footer-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: var(--basic-Krylon-Classic-Gray);
}

.footer-contacts-tittle {
  margin: 18px auto;
}

.footer-contacts-content .button {
  display: block;
  padding: 17px 44px 15px 44px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 108px 240px 68px 140px;
  margin: 0 auto;
}

.footer-social-wrap {
  display: inline-block;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 261px;
  padding: 0;
}

.footer-social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--basic-Shape-2);
  border-radius: 50%;
}

.social-button path:hover,
.social-button path:focus {
  fill: var(--basic-White);
}

.social-button path:active {
  fill: var(--basic-White);
  opacity: 0.3;
}

.footer-social-item a:hover{
  background-color: var(--basic-Coral-B);
}

.footer-social-item a:focus,
.footer-social-item a:active{
  color: var(--basic-Coral-B);
  background-color: var(--basic-Coral-C);
}

.footer-friendship {
  display: inline-block;
  width: 660px;
}

.footer-friendship-title {
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-friendship-sub {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-Ford-Midnight-Gray);
}
